/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
}

h1 {
  font-family: "Nerko One", system-ui;
  color: #ff9614;
  font-size: 3.5rem;
  font-weight: 100;
  text-shadow: 2px 1px #aaaaaa;
}

main {
  background-color: #f6f5f3;
}

img {
  max-width: 100%;
  display: block;
}

/* UTILS */

.container {
  margin: 0 auto;
  width: 1500px;
  max-width: 100%;
  padding: 0 20px;
}

ul {
  list-style-type: none;
}

span {
  font-weight: bold;
}

a {
  color: inherit;
}

/* HEADER */

.title-container {
  text-align: center;
  padding: 20px 20px;
}

/* MAIN */

/* TUTORIAL */

.subtitle {
  color: #999999;
  font-weight: inherit;
  padding: 20px 0 10px;
}

.tutorial-title {
  color: #4e3969;
  font-size: 1.6rem;
  font-weight: 800;
  padding: 10px 0;
}

.tutorial-title-suffix {
  display: none;
  font-weight: inherit;
}

.tutorial-card {
  margin: 20px 0;
  background-color: white;
  box-shadow: 1px 1px 10px 0 #aaaaaa;
}

.tutorial-video {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.tutorial-description {
  padding: 30px;
}

.tutorial-description h3 {
  font-size: 2rem;
}

.description-list {
  margin: 30px 0 10px;
  line-height: 2.3rem;
}

/* SOCIAL */

.social-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5%;
  padding: 20px 0;
}

.social-name {
  display: none;
  color: black;
}

.social-links {
  background-color: white;
  padding: 15px 20px;
  border-radius: 30px;
  box-shadow: 0 2px 2px 0 #aaaaaa;
  text-decoration: none;
  flex-grow: 1;
  text-align: center;
}

.fa-facebook {
  color: #1a77f3;
}

.fa-twitter {
  color: #009eff;
}

.fa-instagram {
  color: #dc3da3;
}

.fa-pinterest {
  color: #e62222;
}

.fa-youtube {
  color: #e62222;
}

/* BANNER */

.banner {
  display: none;
  padding: 30px 0;
}

/* PRESENTATION */

.presentation-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 0 50px;
}

.presentation-title {
  font-size: 2rem;
  font-weight: 500;
  padding: 20px 0;
}

.hr {
  width: 90px;
  border: 1px solid #f7972e;
  margin-bottom: 20px;
}

.presentation-section img {
  width: 450px;
  align-self: center;
  padding: 10px;
}

.presentation-section p {
  line-height: 2.3rem;
  font-size: 1.1rem;
  padding: 20px 0;
}

/* FOOTER */

footer {
  background-color: #7c69a4;
  color: white;
}

.address {
  text-align: center;
  padding: 20px 0 10px;
}

.address span::before {
  content: "\00A9";
}

.contacts {
  text-align: center;
  padding: 10px 0 20px;
}

.contacts-link-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.contacts-link {
  line-height: 2.5rem;
}
