/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
}

h1 {
  font-family: "Nerko One", system-ui;
  color: #ff9614;
  font-size: 3.5rem;
  font-weight: 100;
  text-shadow: 2px 1px #aaaaaa;
}

main {
  background-color: #f6f5f3;
}

/* UTILS */

.container {
  margin: 0 auto;
  width: 1500px;
  max-width: 100%;
  padding: 0 20px;
}

/* HEADER */

.title-container {
  text-align: center;
  padding: 20px 20px;
}

/* MAIN */

.subtitle {
  color: #999999;
  font-weight: inherit;
  padding: 20px 0 10px;
}

.tutorial-title {
  color: #4e3969;
  font-size: 1.6rem;
  font-weight: 800;
  padding: 10px 0;
}

.tutorial-title-suffix {
  display: none;
}

.tutorial-card {
  margin: 20px 0;
  background-color: white;
}

.tutorial-video {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.tutorial-description {
  padding: 30px;
}
